# Application
APP_CONTAINER_NAME=user-management-app
APP_PORT=8080
SPRING_PROFILE=dev

# PostgreSQL
POSTGRES_CONTAINER_NAME=user-management-postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_DB=user_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_CONTAINER_NAME=user-management-redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6379
